<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for a VLP-16 -->

<launch>
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points_for_autoware_points_raw.launch" />
<!--  <include file="$(find bosch_imu_driver)/launch/imu.launch" /> 
  <include file="$(find piksi_multi_rtk_ros)/launch/piksi_multi_rover.launch" />-->
  <node name="joy_node" pkg="joy" type="joy_node" args=" _dev_name:=/dev/input/js0"/> 
  <node pkg="topic_tools" type="relay" name="relay_point_cloud" args="/velodyne_points /points_raw" />
  <!-- <node pkg="topic_tools" type="relay" name="relay_joy" args="/joy /whill/controller/joy" />  -->
  <node pkg="joy_to_twist" type="joy_to_twist2" name="joy_to_twist" /> 

<!--  <node pkg ="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
  </node>
 
<group ns="/laser">
  <node pkg ="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM1"/>
  </node>
</group>
-->


<!-- conntetion to Jetson TX2 (eth0 192.168.2.101)-->
<!--  <machine name="Jetson" address="192.168.2.101" env-loader="/home/ubuntu/catkin_ws/devel/env.sh" user="ubuntu" password="ubuntu" default="false" /> -->
<!--    <include machine="Jetson" file="$(find piksi_multi_rtk_ros)/launch/piksi_multi_rover.launch" /> -->
    <!-- <include machine="Jetson TX2" file="$(find ros_whill)/launch/ros_whill.launch" /> -->


<!--  <node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
    <param name="camera_info_url" value="$(find velodyne_pointcloud)/cfg/camera_0128.yaml"/>
    <param name="device" value="/dev/video1"/>  
  </node>
  <node name="image_raw_view" pkg="image_view" type="image_view" >
    <remap from="image" to="image_raw"/>   
  </node>  -->


</launch>
